<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699182918325-f135ve6fu1cn3rrs3gjte5kqjtmt4c5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699182918325-f135ve6fu1cn3rrs3gjte5kqjtmt4c5c</string>
	<key>API_KEY</key>
	<string>AIzaSyCeiRHclqGcFe-pPn0LWgi7fCD1X35tM2M</string>
	<key>GCM_SENDER_ID</key>
	<string>699182918325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.primaMovie</string>
	<key>PROJECT_ID</key>
	<string>prima-1d716</string>
	<key>STORAGE_BUCKET</key>
	<string>prima-1d716.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699182918325:ios:1e7619e683687c19616cfc</string>
</dict>
</plist>